#cajaprincipal {
    background-color: rgb(199, 199, 254);
    display: flex;
    flex-direction: column;
    /* display: flex; */
    min-height: 100vh;
    gap: 30px;
}

#cajaprincipal :is(#caja1, #caja2) {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100vw;
    /* height: 50vw; */
    border: 1px solid white;
    margin: 2px;
}

#caja1 {
    flex-wrap: wrap;
}
#caja2{
    height: 80vh;
}

.cuadrado {
    display: flex;
    /* flex: 1 1 auto; */
    width: 150px;
    height: 150px;
    justify-content: center;
    background-color: orangered;
    border: 3px solid black;
    align-items: center;
    margin-bottom: 20px;
    padding: 20x;
}

.circulo {
    width: 20%;
    aspect-ratio: 1/1;
    background-color: yellow;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    border: 3px solid black;
    align-items: center;
}

.cuadrado-circulo {
    background-color: orangered;
    border: 2px solid black;
    width: 20%;
    height: 20%
}